<h1 class="animate__animated animate__rubberBand">{{heroe.alias}}</h1>
<div id="Card-hero" class=" card row">
    <div id="left" class="col">
        <img class="card-img-top" src="{{heroe.img}}">
        <a [routerLink]="['/heroes']" class="btn btn-block">Regresar</a>
    </div>
    <div id="right" class="col">
        <h3>Nombre: {{heroe.nombre}}</h3>
        <h5>Alias de Heroe:{{heroe.alias}}</h5>
        <p> Quirk:</p>
        <p>{{heroe.bio}}</p>
        <p>Ocupacion:{{heroe.ocupacion}}</p>
        <p>Aparicion en el Manga:{{heroe.aparicion}}</p>
    </div>
</div>