<div id="content-home">
    <div id="jumbotronG" class="p-5 mb-4 rounded-3 btnG">
        <div class="container-fluid py-5">
            <h1 class="display-4"> MY HERO ACADEMIA</h1>
            <p class="lead"> En un mundo en el que la mayor parte de la población nace con un Don, una habilidad extraordinaria diferente en cada cual, no tardaron en aparecer tanto villanos como héroes dispuestos a detenerlos. Con el tiempo los héroes pasaron a ser funcionarios del gobierno, estando regulados y viviendo de su trabajo, además de convertirse en objeto de admiración de muchos. Ahora, ser héroe es el sueño de la gran mayoría de niños, que esperan desde muy pequeños a que su Don se manifieste para comenzar a entrenar y soñar con convertirse en los héroes número uno.</p>
            <hr>
            <p>Disfruta del anime ahora mismo...</p>
            <a class="btn btn-primary" href="https://www.crunchyroll.com/es/series/G6NQ5DWZ6/my-hero-academia">crunchyroll</a>
        </div>
    </div>
</div>