<div class="p-5 mb-4 rounded-3 text-white hero-mha">
    <div class="container-fluid py-5">
        <h1 class="display-3 fw-bold">MY HERO ACADEMIA</h1>
        <p class="col-lg-8 fs-4">En un mundo donde casi todos nacen con un superpoder, surgen héroes y villanos. Izuku Midoriya, un chico sin Don, sueña con convertirse en el héroe número uno. Su vida cambia al conocer a su ídolo, All Might, quien le lega su poder.</p>
        <hr class="my-4 border-light">
        <p class="fs-5">Disponible en streaming. ¡No te pierdas la acción!</p>
        <a class="btn btn-success btn-lg" href="https://www.crunchyroll.com/es/series/G6NQ5DWZ6/my-hero-academia" role="button">
            <i class="bi bi-play-btn-fill me-2"></i>Ver Ahora
        </a>
    </div>
</div>
