<div id="content-about">
        <h3>My Hero Academia</h3>
        <div>
            <p>My Hero Academia (僕のヒーローアカデミア Boku no Hīrō Akademia) es una serie de anime producida por el estudio BONES, 
                basada en el manga del mismo nombre, escrito e ilustrado por Kohei Horikoshi.
                 Fue anunciado en la edición 49 de la revista Weekly Shonen Jump en 2015. 
                 En marzo de 2016, Funimation anunció que había licenciado la serie para América,
                mientras que en España la serie fue licenciada por Selecta Visión.
            </p>
        </div>
</div>