#content-about {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5%;
  margin-left: 5%;
  background-color: var(--base-color);
  color: var(--black_color);
  font-size: 20px;
  text-shadow: 2px 2px var(--redbrillante-main-color);
  border-style: solid 5px;
  border-radius: 20px;
}
iframe {
  box-shadow: 0 0 5px 2px #0009;
}
